@layer components {
  .GeckoUIOTPInput {
    @apply relative w-full max-w-full flex-row gap-2 justify-center;
  }

  .GeckoUIOTPInput--disabled {
    @apply opacity-50;
  }

  .GeckoUIOTPInput__cell {
    @apply flex-1 items-center justify-center aspect-square rounded-lg border border-border-secondary bg-surface-primary;
    max-width: 56px;
  }

  .GeckoUIOTPInput__cell--focused {
    @apply border-primary-400 bg-primary-50;
  }

  .GeckoUIOTPInput__cell--disabled {
    @apply bg-surface-disabled;
  }

  .GeckoUIOTPInput__cell--error {
    @apply border-error;
  }

  .GeckoUIOTPInput__cell--error-focused {
    @apply bg-red-50 dark:bg-red-950;
  }

  .GeckoUIOTPInput__cell-text {
    @apply text-text-primary;
    font-size: 18px;
  }

  .GeckoUIOTPInput__cell-text--placeholder {
    @apply text-text-tertiary;
  }

  .GeckoUIOTPInput__input {
    font-size: 16px;
  }
}
