@layer components {
  .GeckoUICalendar {
    @apply w-full border border-border-primary rounded-md px-3 py-4;
  }

  .GeckoUICalendar__header {
    @apply flex-row items-center justify-between gap-1 pb-4;
  }

  .GeckoUICalendar__header__title {
    @apply flex-1 items-center justify-center rounded-md px-3 py-3;
  }

  .GeckoUICalendar__header__title--clickable {
    @apply bg-surface-hover;
  }

  .GeckoUICalendar__header__title-text {
    @apply font-bold text-text-primary text-base;
  }

  .GeckoUICalendar__header__arrow-button {
    @apply h-12 w-12 items-center justify-center rounded-md active:bg-surface-hover;
  }

  .GeckoUICalendar__header__arrow-icon {
    @apply text-text-primary text-xl font-bold;
  }

  .GeckoUICalendar__day-picker-weekdays {
    @apply flex-row mb-2 opacity-40;
  }

  .GeckoUICalendar__day-picker-weekday {
    @apply flex-1 text-center font-medium text-text-primary text-xs;
  }

  .GeckoUICalendar__day-picker {
    @apply flex-col;
    row-gap: 1px;
  }

  .GeckoUICalendar__day-picker-row {
    @apply flex-row relative;
  }

  .GeckoUICalendar__day-picker__range-underlay {
    @apply absolute bg-primary-700;
    top: 0;
    bottom: 0;
  }

  .GeckoUICalendar__day-picker__button {
    @apply flex-1 items-center justify-center rounded-md;
    aspect-ratio: 1;
  }

  .GeckoUICalendar__day-picker__button-text {
    @apply text-text-primary text-sm;
  }

  .GeckoUICalendar__day-picker__button--selected {
    @apply bg-primary-700 rounded-md;
  }

  .GeckoUICalendar__day-picker__button--partial-range {
    @apply bg-primary-200 rounded-md;
  }

  .GeckoUICalendar__day-picker__button-text--partial-range {
    @apply text-primary-700;
  }

  .GeckoUICalendar__month-picker {
    @apply flex-col;
  }

  .GeckoUICalendar__month-picker-row {
    @apply flex-row;
  }

  .GeckoUICalendar__month-picker__button {
    @apply flex-1 items-center justify-center rounded-md py-5;
  }

  .GeckoUICalendar__month-picker__button--selected {
    @apply bg-surface-hover;
  }

  .GeckoUICalendar__month-picker__button-text {
    @apply text-text-primary text-sm;
  }

  .GeckoUICalendar__year-picker {
    @apply flex-col;
  }

  .GeckoUICalendar__year-picker-row {
    @apply flex-row;
  }

  .GeckoUICalendar__year-picker__button {
    @apply flex-1 items-center justify-center rounded-md py-5;
  }

  .GeckoUICalendar__year-picker__button--selected {
    @apply bg-surface-hover;
  }

  .GeckoUICalendar__year-picker__button--prev-next {
    @apply opacity-40;
  }

  .GeckoUICalendar__year-picker__button-text {
    @apply text-text-primary text-sm;
  }
}
