@layer components {
  .GeckoUICounterInput {
    @apply flex-row items-center;
  }

  .GeckoUICounterInput--disabled {
    @apply opacity-50;
  }

  .GeckoUICounterInput__button {
    @apply items-center justify-center bg-surface-primary border border-border-secondary;
  }

  .GeckoUICounterInput__button--decrement {
    @apply rounded-l-md;
  }

  .GeckoUICounterInput__button--increment {
    @apply rounded-r-md;
  }

  .GeckoUICounterInput__button--focused {
    @apply border-primary-400;
  }

  .GeckoUICounterInput__button--sm {
    @apply h-8 w-8;
  }

  .GeckoUICounterInput__button--md {
    @apply h-12 w-12;
  }

  .GeckoUICounterInput__button--lg {
    @apply h-14 w-14;
  }

  .GeckoUICounterInput__input {
    @apply border-t border-b border-border-secondary bg-transparent text-center text-text-primary p-0;
  }

  .GeckoUICounterInput__input--focused {
    @apply border-primary-400;
  }

  .GeckoUICounterInput__input--disabled {
    @apply bg-surface-disabled;
  }

  .GeckoUICounterInput__input--sm {
    @apply h-8 w-12;
    font-size: 12px;
  }

  .GeckoUICounterInput__input--md {
    @apply h-12 w-16;
    font-size: 16px;
  }

  .GeckoUICounterInput__input--lg {
    @apply h-14 w-20;
    font-size: 18px;
  }

  .GeckoUICounterInput__icon {
    @apply text-text-primary leading-none;
  }

  .GeckoUICounterInput__icon--sm {
    @apply text-xs;
  }

  .GeckoUICounterInput__icon--md {
    @apply text-sm;
  }

  .GeckoUICounterInput__icon--lg {
    @apply text-base;
  }
}
