@layer components {
  .GeckoDrawer__drawer {
    @apply bg-surface-primary shadow-xl;
  }

  .GeckoDrawer__drawer--right,
  .GeckoDrawer__drawer--left {
    @apply h-full;
    width: 80%;
    max-width: 400px;
  }

  .GeckoDrawer__drawer--bottom,
  .GeckoDrawer__drawer--top {
    @apply w-full;
    max-height: 60%;
  }
}
